
  .hero { 
    position: relative; 
    height: 200vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('1200px-McKnight_Brain_Institute.jfif' );
    background-size: cover;
  }  
    
  
    .s-wrap {
        width: 20%;
        height: 200px; 
        background: #f0fff0;
        border: 1px solid #09a3e0;
        font-family: 'Rajdhani', sans-serif;
        overflow: hidden; 
      }
      
     
      .s-move {
        display: flex;
        position: relative;
        
        top: 0;
        right: 0;
      }
      
      
      .slide {
        box-sizing: border-box;
        padding: 10px;
        /* Force all slides to layout horizontally */
        width: 100%;
        flex-shrink: 0; 
    }
    @keyframes slideh {
        0% { right: 0; }
        15% { right: 0; }
        20% { right: 100%; }
        35% { right: 100%; }
        40% { right: 200%; }
        55% { right: 200%; }
        60% { right: 300%; }
        75% { right: 300%; }
        80% { right: 400%; }
        95% { right: 400%; }
        100% { right: 0; }
      }
    .s-move { animation: slideh linear 30s infinite; }
    .s-move:hover { animation-play-state: pause; }
  
#headtag  {
    text-align: center;
    font-size: 75px;
    letter-spacing: 15px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px ;
    color: #070202;
    margin-left: 0px;
}
#hh3
{   
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    margin-left: 42%;

}
.je
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: black;
    margin-top: 0px;
    margin-left: 70%;
}
.review
{
    font-size: 20px;
    display: block;
    width: 20%;
    border-style: solid;
    border-color: brown;
}
.img1
{
    border: rgb(116, 20, 20);
    border-radius: 2px;
    border-style: solid;
    height: 25vh;

    width:20%;
    margin-bottom: 3%;   
}


#stdiv
{
    text-align: center;
    margin-left: 30%;
    margin-right: 28%;
    border: blanchedalmond;
    background-image: url("giphy.gif");
}

#tabl
{
    border-collapse: collapse;
    height: 20px;
    margin-left: 5%;
    margin-right: 1%;
    width: 40%;
    text-align: center;
    font-size: 25px;
    border: black;
    border-radius: 5px;
    background-color: rgba(235, 191, 110, 0.76);
    color: green;
}
#tabl1
{
    border-collapse: collapse;
    height: 20px;
    margin-left: 50%;
    margin-right: 1%;
    margin-top: -16.5%;
    width: 40%;
    text-align: center;
    font-size: 25px;
    border: black;
    border-radius: 5px;
    background-color: rgba(235, 191, 110, 0.76);
    color: green;
}
#table1
{
    margin-top: 15%;
    font-size: 35px;
    margin-left: 30%;
    text-shadow: 5px 5px 5px black;
    margin-bottom: 20px;
    color:#f0f5e1;

}
#tabl tr td
{
    border: 2px solid black;
    
}
#form
{   

    text-align: center;
    align-content: center;
    font-size: 50px;
    display: block;
    margin: 20px auto;
    width: auto;
}
form
{
    margin: 20px auto;
    width: auto;
    padding: 30px;
}
input{
    padding: 10px;
    font-size: inherit;
}

input[type="text"]
{
display: block;
margin-bottom: 20px;
width: 100%;
border: 2px solid steelblue;
}
input[type="address"]
{
display: block;
text-align: start;
padding: 30px;
margin-bottom: 20px;
width: 100%;
border: 2px solid steelblue;
}
input[type="number"]
{
display: block;
margin-bottom: 25px;
width: 100%;
border: 2px solid steelblue;
}
input[type="email"]
{
display:block;
margin-bottom:25px;
width:100%;
border:2px solid steelblue;
}
input[type="radio"] 
{
    margin: 0 8px 25px 18px ;
}
input[type="radio"]:first-child
{
    margin-left: 0px;
}
button[type="submit"]
{
    width: 320px;
    height:40px;
    border:none;
    background: steelblue;
    color: white;



}
#form1
{
    
    color: royalblue;
    background-color: lightcyan;
    width: 400px;    
    margin-top: 60px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#arrow
{
    size: 5px;
    block-size: 20px;
}

a:link,a:visited{
    color: black;
    color: royalblue;
    text-decoration: none;
    
}
#downl
{
    color: rgb(30, 16, 219);
    font-size: 30px;
    width: 50px;
    font-style: oblique;
    font-weight: bold;
    margin-left:48%;
    list-style-type: none;

}
#div1
{
    font-size: 35px;
    text-align: center;
    display: block;
    width: 50%;
    margin-top: 8%;
    color:#7be815; 
    
    margin-left: 40%;
}
#hh1
{
    font-size: 35px;
    text-align: center;
    display: block;
    width: 20%;
    color: black;
    margin-left: 5%;

}
#back2{
    background-image: linear-gradient(to right, rgba(51, 145, 117, 0.295), rgba(43, 22, 233, 0.329)); 


}
#hh2
{
    font-size: 40px;
    background-image: linear-gradient(to right, rgba(51, 145, 117, 0.295), rgba(43, 22, 233, 0.329)); 
    text-align: center;
    display: flex;
    width: 30%;
    color: rgba(255, 255, 255, 0.938);
    margin-left: 35%;

}
#l3
{
    margin-left: 40%;
    text-align: left;
    font-size: 35px;
    list-style-type: initial;
}
#l2{
    list-style-type: none;
    text-align: center;
}
#aboutus
{
    margin: 10px;
    width:700px;
    display: block;
    font-size: 18px;
    font-family: sans-serif;
    align-content: center;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
}


#l1 {
    
    float: left;
    width:200px;
    list-style-type: none;
    margin: 18px;
    padding: 0;
    overflow: hidden;

}
#st:link,#st:visited  {
    color: #f0fff0;
    width: 100%;
    margin-left: auto;
    margin-right: 5px;
    align-content: center;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
}
#st:hover, #st:active{
    background-color: mediumaquamarine;
}

